.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root{
  --bg: url("https://images.firstwefeast.com/complex/images/f_auto,fl_lossy,q_auto,w_1200/iioudfe9rnm3xztnjyyr/bodega");
  --cat-fed: url("https://i.imgur.com/1RbsMc4.jpg");
  --cat-hungry: url("https://pbs.twimg.com/media/EZXx7P5WoAUjMoY.jpg");
}

#bodega{
  background-image: var(--bg);
  background-position: center; 
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}
#cat{
  background-position: center; 
  background-size:cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}